<% if current_user == @message.sender || current_user == @message.receiver %>
	<strong>Sent By:</strong> <%= link_to @message.sender.name, user_path(@message.sender) %><br>
	<strong>Subject:</strong> <%=  @message.subject %><br>
	<% if @message.body %>
		<strong>Body:</strong> <%= @message.body %>
	<% end %>
	<br><a href="/messages/new?name=<%= @message.sender.name %>&id=<%= @message.sender.id %>&parent=<%= @message.id %>">Reply</a>
<% else %>
	Please sign in. You do not have permission to read this message. 
<% end %>
