<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= image_tag(@user.display_image, :alt => "profile",  :width => "75px", :height => "75px") %>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
      <% if @user.posts.any? %>
        <table class="posts" summary="User posts">
          <%= render @posts %>
        </table>
        <%= will_paginate @posts %>
      <% end %>
    </td>
	<td>
	</td>
    <td class="sidebar round">
      <%= render 'shared/sidebar_info' %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>

