<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
      
      <% if @users.any? %>
        <ul class="users">
          <%= render @users %>
        </ul>
	  <% else %>
		<span class="no-follow">None!</span>
      <% end %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/sidebar_info' %>
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <% @users.each do |user| %>
          <%= link_to gravatar_for(user, :size => 30), user %>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>