
<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= image_tag(@user.display_image, :alt => "profile",  :width => "75px", :height => "75px") %>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if user_signed_in? %>

      <% if @user.posts.any? %>
				<div class ="profile-feed">
        <%= render 'shared/feed' %>
				</div>
      <% end %>
			
    </td>
    <td style="vertical-align: top;" class = "profile-side">
			
			<div class="right" style="font-size: 24px;">
      <%= render 'shared/sidebar_info' %>
      <%= render 'shared/stats' %>
			</div>
    </td>
  </tr>
</table>

