<table class="front" summary="For signed-in users">
   <tr>
     <td class="main">
       <%= render 'shared/post_form' %>
       <% if  @feed_type == :live %>
	       <%= link_to "Subscriptions ", root_path %><strong><%= link_to "Live ", live_path  %></strong><%= link_to "Most Popular ", voted_path %>
       <% elsif @feed_type == :subscribed %>
           <strong><%= link_to "Subscriptions ", root_path %></strong><%= link_to "Live ", live_path %><%= link_to "Most Popular ", voted_path %>
			 <% elsif @feed_type == :highest_voted %>
			  	<%= link_to "Subscriptions ", root_path %><%= link_to "Live ", live_path %><strong><%= link_to "Most Popular ", voted_path %></strong>
       <% end %>
			 
       <%= render 'shared/feed' %>
     </td>
     <td class="sidebar round">
       <%= render 'shared/user_info' %>
       <%= render 'shared/stats' %>
     </td>
   </tr>
</table>
