<tr>
	<td class="gravatar">
		<%= image_tag(feed_item.user.display_image, :alt => "profile",  :width => "50px", :height => "50px") %>  
	</td>
	<td class="post">
		<% if @unique %>
		<span class="title" style = "font-size: 120%"><strong><%= wrap(feed_item.title)%></strong></span><br>
		<% else %>
		<span class="title" style = "font-size: 120%"><%= link_to wrap(feed_item.title), feed_item %></span><br>
		<% end %>
		<% if feed_item.content %>
		<span class "post"><%= wrap(feed_item.content) %><span><br>
		<% end %>
		<% @tags = feed_item.find_tags.join(", ") %>
		<% if @tags %>
			<span class "tags" style="color: #5A8DA0; font-size: 80%;"><%= @tags %></span>
		<% end %>
			<span class="timestamp">
				<%= link_to feed_item.user.name, feed_item.user %> posted <%= time_ago_in_words(feed_item.created_at) %> ago.
			</span>
			<% comment = Comment.where("post_id = ?", feed_item.id).last %>
			<% if comment %>
			<div class = "comment-feed">
				<table class="comment-feed" >
					<%= render :partial => 'shared/comment', :object => comment %>
				</table>
			</div>
			<% end %>
		</td>
		<% if current_user?(feed_item.user) %>
		<td>
			<%= link_to "delete", feed_item, :method => :delete,
			:confirm => "You sure?",
			:title => feed_item.title %>
		</td>
		<% end %>
	</tr>