<table class="front" summary="For signed-in users">
   <tr>
     <td class="main" style="vertical-align: top;">
	    <div id = "post-form">
				<%= render 'shared/post_form' %>
			</div>
			 <div class="roundcont_bottom">
           <div class="roundtop_bottom">
             <img src="/images/tl_bottom.gif" alt="" width="15" height="15" class="corner" style="display: none" />
           </div>
           <div class="round_inner_bottom">
           <div class="title_round">
					 <div class = "top-bar">
       <% if  @feed_type == :live %>
	       <%= link_to "Subscriptions ", subscribed_path %><strong>Live </strong><%= link_to "Most Popular ", voted_path %>
       <% elsif @feed_type == :subscribed %>
           <strong> Subscriptions </strong><%= link_to "Live ", root_path %><%= link_to "Most Popular ", voted_path %>
			 <% elsif @feed_type == :highest_voted %>
			  	<%= link_to "Subscriptions ", subscribed_path %><%= link_to "Live ", root_path %><strong> Most Popular  </strong>
       <% end %>
			 </div>
			 </div>
       <%= render 'shared/feed' %>
     </td>
     <td style="vertical-align: top;">
			<div class="right" style="font-size: 21px;">
  	     <%= render 'shared/user_info' %>
	       <%= render 'shared/stats' %>
			</div>
     </td>
		<td></td>
   </tr>
</table>

