
<tr>
		<% @content_type = 'Post' %>
		<td  style="vertical-align: top;" class = "<%= @content_type %>"id = "<%=  feed_item.id %>">	
			<%= Vote.count(@content_type, feed_item.id) %> Score
		</td>
	<td class="gravatar" style="vertical-align: top;">
		<a href="/users/<%= feed_item.user.id %>"><%= image_tag(feed_item.user.display_image, :alt => "profile",  :width => "50px", :height => "50px") %></a>
	</td>
	
	<td class="post" style="vertical-align: top;">
	
		<span class="title" style = "font-size: 120%"><%= link_to wrap(feed_item.title), feed_item %></span><br>
		<% if feed_item.content %>
		<span class "post"><%= auto_link(wrap(feed_item.content)).html_safe %><span>
		<% end %>
		<% @tags = feed_item.find_tags %>
		<% if @tags %>
			<span class "tags" style="color: #5A8DA0; font-size: 80%;"><%= render :partial => 'shared/tag', :collection => @tags %></span><br>
		<% end %>
			<span class="timestamp" style="color: #666;">
				<%= link_to feed_item.user.name, feed_item.user %> posted <%= time_ago_in_words(feed_item.created_at) %> ago.
			</span>
			<% votes = feed_item.up_voted(current_user) %>
			<% if votes.first %>
				<span class="timestamp">
					<%= votes.map(&:name).join(", ")  %> voted up this post
				<span>
			<% end %>	
			
			<% if @item_type == 'User' %>
				<% comment = Comment.where("post_id = ? AND user_id = ?", feed_item.id, @user.id).last %>
			<% elsif @feed_type == :search %>
				<% comment = Comment.where("post_id = ? AND lower(content) LIKE '%#{@search}%'", feed_item.id).last%>
			<% else %>
				<% comment = feed_item.comments.last%>
			<% end %>
		
			<% if comment %>
			<div class = "comment-feed">
				<table class="comment-feed" >
					<br/>
					<div style="color: #666;">&nbsp;Comment:</div>
					<%= render :partial => 'shared/comment', :object => comment %>
				</table>
			</div>
			<% end %>
		</td>
		
	
		<% if current_user?(feed_item.user) %>
			<td>
				<%= link_to "delete", feed_item, :method => :delete,
				:confirm => "You sure?",
				:title => feed_item.title %>
			</td>
		<% end %>
	</tr>

		
