<table class="front" summary="For signed-in users">
   <tr>
     <td class="main">
       <%= render 'shared/post_form' %>
       <% if  @feed_type == :live %>
	       <%= link_to "Subscriptions ", root_path %><strong><%= link_to "Live", live_path  %></strong> 
       <% else %>
           <strong><%= link_to "Subscriptions ", root_path %></strong><%= link_to "Live", live_path %> 
       <% end %>
       <%= render 'shared/feed' %>
     </td>
     <td class="sidebar round">
       <%= render 'shared/user_info' %>
       <%= render 'shared/stats' %>
     </td>
   </tr>
</table>
