<tr>
		<% @content_type = 'Post' %>
		<td class = "<%= @content_type %>"id = "<%=  feed_item.id %>">	
			<%= Vote.count(@content_type, feed_item.id) %> Score
		</td>
	<td class="gravatar">
		<%= image_tag(feed_item.user.display_image, :alt => "profile",  :width => "50px", :height => "50px") %>  
	</td>
	
	<td class="post">
	
		<span class="title" style = "font-size: 120%"><%= link_to wrap(feed_item.title), feed_item %></span><br>
		<% if feed_item.content %>
		<span class "post"><%= wrap(feed_item.content) %><span>
		<% end %>
		<% @tags = feed_item.find_tags %>
		<% if @tags %>
			<br><span class "tags" style="color: #5A8DA0; font-size: 80%;"><%= render :partial => 'shared/tag', :collection => @tags %></span>
		<% end %>
			<span class="timestamp">
				<%= link_to feed_item.user.name, feed_item.user %> posted <%= time_ago_in_words(feed_item.created_at) %> ago.
			</span>
			
			<% if @item_type == 'User' %>
				<% comment = Comment.where("post_id = ? AND user_id = ?", feed_item.id, @user.id).last %>
			<% else %>
				<% comment = feed_item.comments.last%>
			<% end %>
			<% if comment %>
			<div class = "comment-feed">
				<table class="comment-feed" >
					<%= render :partial => 'shared/comment', :object => comment %>
				</table>
			</div>
			<% end %>
		</td>
		
	
		<% if current_user?(feed_item.user) %>
			<td>
				<%= link_to "delete", feed_item, :method => :delete,
				:confirm => "You sure?",
				:title => feed_item.title %>
			</td>
		<% end %>
	</tr>

		
