<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="post">
	<% if @unique %>
		<span class="title" style = "font-size: 120%"><strong><%= wrap(feed_item.title)%></strong></span><br>
	<% else %>
    	<span class="title" style = "font-size: 120%"><%= link_to wrap(feed_item.title), feed_item %></span><br>
	<% end %>
	<% if feed_item.content %>
   		<span class "post"><%= wrap(feed_item.content) %><span>
	<% end %>
    <span class="timestamp">
      <%= link_to feed_item.user.name, feed_item.user %> posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
    <td>
      <%= link_to "delete", feed_item, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => feed_item.title %>
    </td>
  <% end %>
</tr>