<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <h1 class="post">Title</h1>
  <div class="field">
    <%= f.text_field :title, :class => "feed"  %>
  </div>
  <strong><p>Further Description</p></strong>
  <div class="field">
    <%= f.text_area :content %>
  </div>
	<p><strong>Input Tags</strong> (separate with comma)</p>
	<div class="field">
    <%= f.autocomplete_field :tag_list, autocomplete_tag_name_posts_path, :"data-delimiter" => ', ', :class => "tags" %>
  </div>
	
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>