<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <h1 id="post">Title</h1>
  <div class="field">
    <%= f.text_field :title, :class => "feed"  %>
  </div>
  <strong><p>Further Description</p></strong>
  <div class="field">
    <%= f.text_area :content %>
  </div>
	<p><strong>Input Tags</strong> (separate with comma)</p>
	<div class="field">
   <input id="post_tag_list" size="50" name="post[tag_list]" value = "<%= @post.tag_list %>" />
  </div>
	
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>