<% @user ||= current_user %>
<div class="stats"  >
	    
          <p> <a href="<%= following_user_path(@user) %>"><%= @user.following_users.count %> following</a> &nbsp;&nbsp; <a href="<%= followers_user_path(@user) %>"><%= pluralize(@user.followed_users.count, "follower") %></a></p>
          <a href="<%= following_posts_user_path(@user) %>"><p>Following <%= pluralize(@user.following_tags.count, "tag") %></p></a>
          <a href="<%= following_posts_user_path(@user) %>"><p>Following <%= pluralize(@user.following_posts.count, "post") %></a></p>
     </div>
     <div class="roundbottom_right">
       <img src="/images/bl_sitebar.gif" alt="" width="15" height="15" class="corner" style="display: none" />
     </div>
  </div>	