<tr>
	<td>
		<strong>Title: </strong> <%= event_item.title %>
	</td>
	<td>
		<strong>Description: </strong>
		<%= event_item.description %>
	</td>
	<td>
		<strong>Location: </strong>
		<%= event_item.location %>
	</td>
	<td>
		<strong>Time: </strong>
		<%= event_item.start_date %>
	</td>
	<% if current_user?(event_item.user) %>
	<td>
		<%= link_to "delete", event_item, :method => :delete,
		:confirm => "You sure?",
		:content => event_item.title %>
	</td>
	<% end %>
</tr>
