<tr>
		<% @content_type = 'Post' %>
		<td class = '<%= @content_type %>'id = "<%=  post.id %>">
		
			<%= Vote.count(@content_type, post.id) %> Score
		</td>
  <td class="gravatar">
    <%= image_tag(post.user.display_image, :alt => "profile",  :width => "50px", :height => "50px") %>  
  </td>
  <td class="post">
		<span class="title" style = "font-size: 120%"><strong><%= auto_link(wrap(post.title)).html_safe%></strong></span><br>
		
		<% if post.picture_file_name %>
			<%= image_tag(post.picture.url(:medium), :alt => "profile",  :width => "200px", :height => "200px") %> 
		<% end %>

	<% if post.content %>
   		<span class "post"><%= auto_link(wrap(post.content)).html_safe %><span>
	<% end %>
	<% if @tags %>
		<%= render :partial => 'shared/tag', :collection => @tags %></span>
	<% end %>
    <span class="timestamp">
      <%= link_to post.user.name, post.user %> posted <%= time_ago_in_words(post.created_at) %> ago.
    </span>
			<% votes = post.up_voted(current_user) %>
			<% if votes.first %>
				<span class="timestamp">
					<%= votes.map(&:name).join(", ")  %> voted up this post
				<span>
			<% end %>
  </td>
  <% if current_user?(post.user) %>
    <td>
      <%= link_to "delete", post, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => post.title %>
    </td>
	<% end %>
	<% unless current_user.voted?('Post', post.id) || current_user?(post.user) %>
			<td class = "post-vote">
				<%= render :partial => 'shared/vote_form', :object => post %>
			</td>
  <% end %>
	<% if @related.first %>
		<td>
			Related Posts:<br>
				<%= render :partial => 'related_post', :collection => @related %>
		</td>
	<% end %>
	
</tr>
<% if current_user?(post.user) || current_user.admin %>
	<%= link_to "Edit Post", edit_post_path(post) %>
<% end %>