	<div id="container_holder">
    	<div id="container_content">
        	<div class="frame_content">
				<div class="feed_container">
	            	<div class="unique_post"><h1><%= @post.title %></h1>
	                	<div class="clear"></div>
	                    <div class="post_text"><a href="http://www.nutranation.org/profile/userone"class="post_username"><%= @user.name %></a><% if @user.description and @user.description != "" %>,<span class="user_description"><%= @user.description %></span><% end %><br/>
							<h2><%= auto_link(wrap(@post.content)).html_safe %></h2>
						</div>
	                    <div class="sub_post_actions">
	                    	<a class="sub_post" href="">Reply<span class="vertical_line">|</span></a>
	                    	<a class="sub_post" href="">Flag<span class="vertical_line">|</span></a>
	                    	<span class="sub_post"><%= time_ago_in_words(@post.created_at) %></span>
	                   	</div>
						<div class="answer_box">
						  <%= render :partial => 'shared/comment', :collection => @comments %>
	                    	<div class="clear"></div>
						</div>

	                    <div class="myanswer_box">
	                    	<div class="myanswer_content">Add an Answer to this question:<br/>
	                            <%= form_for @comment  do |f| %>
															  <%= render 'shared/error_messages', :object => f.object %>
															  <div class="field">
															    <%= f.text_area :content, :class => "comment" %>
																<div><input id="comment_post_id" name="comment[post_id]" type="hidden" value="<%= @post.id %>"></div>
															  </div>
															  <div class="actions">
															    <%= f.submit "Add Comment", :post_id => @post.id %>
															  </div>
															<% end %>
	                            </div>
		                    <div class="clear"></div>
	                    </div>
	                    <div class="clear"></div>
	                </div>

               
                </div> 
 			</div>
 			<%= render :partial => 'shared/sidebar' %>
			<div class="clear"></div>
      	</div>
      	<div class="clear"></div>
	</div>
