	<div id="container_holder">
    	<div id="container_content">
        	<div class="frame_content">
				<div class="feed_container">
	            	<div class="unique_post"><h1><%= @post.title %></h1>
	                	<div class="clear"></div>
	                    <div class="post_text"><a href="http://www.nutranation.org/profile/userone"class="post_username"><%= @user.name %></a>,<span class="user_description"><%= @user.description %></span><br/>
							<h2><%= @post.content %></h2>
						</div>
	                    <div class="sub_post_actions">
	                    	<a class="sub_post" href="">Reply<span class="vertical_line">|</span></a>
	                    	<a class="sub_post" href="">Flag<span class="vertical_line">|</span></a>
	                    	<span class="sub_post">1 hour ago</span>
	                   	</div>
						<div class="answer_box">

						  <%= render :partial => 'shared/comment', :collection => @comments %>
							
						

	                    	<div class="clear"></div>
						</div>
	                	
	                    <div class="myanswer_box">
	                    	<div class="myanswer_content">Add an Answer to this question:<br/>
	                            	<div class="myanswer_texteditor_container">here goes the text editor
	                                </div>
	                            </div>
		                    <div class="clear"></div>
	                    </div>
	                    <div class="clear"></div>
	                </div>
	 			</div>
            	<div class="unique_post"><h1>This is the headline of the post(zB the question)</h1>
                	<div class="clear"></div>
                    <div class="post_text"><a href="http://www.nutranation.org/profile/userone"class="post_username">user one</a>,<span class="user_description">certified position of this user</span><br/><h2>
                   this is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the   postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the postthis is the post</h2></div>
                    <div class="sub_post_actions">
                    <a class="sub_post" href=""> Reply<span class="vertical_line">|</span></a>
                    <a class="sub_post" href=""> Flag<span class="vertical_line">|</span></a>
                    <span class="sub_post"> 1 hour ago</span>
                   </div>
                    	<div class="answer_box">
                    
                    	<div class="answer_rating_container">
	                    	<span class="answer_rating_plusminus">+</span>
    	                    <span class="answer_rating_plusminus">-</span>
                        </div>
                    	<div class="answer_content">
							<a href="http://www.nutranation.org/profile/userone"class="post_username">user one</a>,<span class="user_description">certified position of this user</span><br/>
								<h3>this is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a questionthis is the toprated answer to a question</h3>
                            <div class="sub_answer_actions">
                            <a class="sub_answer" href=""> Comment<span class="vertical_line">|</span></a>
                            <a class="sub_answer" href=""> Flag<span class="vertical_line">|</span></a>
                            <span class="sub_answer">35 minutes ago</span>
                            </div>
                    	</div class="answer_content">
                    	<div class="clear"></div>
                  			<div class="comment_box">
                        
                           		<div class="comment_content"><a href="http://www.nutranation.org/profile/userone"class="post_username">user one</a>,<span class="user_description">certified position of this user</span><br/>
										<h4>this is the first comment to this answerthis is the first comment to this answerthis is the first comment to this answerthis is the first comment to this answerthis is the first comment to this answerthis is the first comment to this answerthis is the first comment to this answerthis is the first comment to this answerthis is the first comment to this answerthis is the first comment to  this answerthis is the first comment to this answerthis is the first comment to this answerthis is the first comment to this answer!<h4>
	                                <div class="sub_comment_actions">
                                <a class="sub_comment" href=""> Flag<span class="vertical_line">|</span></a>
                                <span class="sub_comment" > 20 minutes ago</span>
                                    </div>
                          		</div>
	                    	<div class="clear"></div>
		                    </div>  

                        	<div class="comment_box">
                               <div class="comment_content"><a href="http://www.nutranation.org/profile/usertwo"class="post_username">user two</a>,<span class="user_description">certified position of this user</span><br/><h4>this is another answer</h4>
                                    <div class="sub_comment_actions">
                                    <a class="sub_comment" href=""> Flag<span class="vertical_line">|</span></a>
                                    <span class="sub_comment" > 20 minutes ago</span>
                                    </div>
                              	</div>
                        		<div class="clear"></div>
							</div>  
	                    	
<!---only display if "comment" clicked on answer-->
							<div class="mycomment_box">
                              <div class="mycomment_content">Add an Comment to this Answer:<br/>
                            	<div class="mycomment_texteditor_container">here goes the text editor</div>
                                </div>
                            	<div class="clear"></div>
	                    	</div>
							
<!--<-only display if "comment" clicked on answer-->  
                             
                              
                    	
                    	<div class="clear"></div>
                    </div class="answer_box">
                    <div class="clear"></div>

                    
                
                        
                <div class="answer_box">
                    	<div class="answer_rating_container">
	                    	<span class="answer_rating_plusminus">+</span>
    	                    <span class="answer_rating_plusminus">-</span>
                        </div>
                    	<div class="answer_content"><a href="http://www.nutranation.org/profile/userone"class="post_username">user one</a>,<span class="user_description">certified position of this user</span><br/>
								<h3>this is the second toprated answer to this question</h3>
                            <div class="sub_answer_actions">
                            <a class="sub_answer" href=""> Comment<span class="vertical_line">|</span></a>
                            <a class="sub_answer" href=""> Flag<span class="vertical_line">|</span></a>
                            <span class="sub_answer">35 minutes ago</span>
                            </div>
                        </div>
                    <div class="clear"></div>
                 </div>
                	
                    
                    
                    
                    <div class="myanswer_box">
                    		<div class="myanswer_content">Add an Answer to this question:<br/>
                            	<div class="myanswer_texteditor_container">here goes the text editor
                                </div>
                            </div>
                    <div class="clear"></div>
                    </div>
                
                
                
                
                </div> 
            </div>
            <div class="frame_sidebarright">
            <!--followbutton is here-->
				<div id="sidebarright_otherthanbutton">
					<div id="sidebarright_topicsection_container">
						<div class="sidebarright_section_headline">
							<div class="sidebarright_list_headline"> Topics:</div>
							<div class="sidebarright_list">
                                <a href=“”><h3>1st topic of question</h3></a>
								<div class="sidebarright_addinfoforlistitem">5 items</div>
								<a class="button_sidebarright_followtopic" href="">Follow Topic</a>
								<a href=“”><h3>2nd of question</h3></a>
								<div class="sidebarright_addinfoforlistitem">5 items</div>
								<a class="button_sidebarright_followtopic" href="">Follow Topic</a>
								<input class="textbox" type="text" placeholder="Add Topic" value="" name="s">
                            </div>	
		                    <div class="clear"></div>
                    	</div>
                    <div class="clear"></div>
            		</div>
				</div>
<!--here comes the button that is at top of the sidebar, positioned absolute:-->
                <div id="sidebarright_actionbuttons_container">
					<a class="button_followquestion" href=""> Follow Question</a>
                </div>
            	<div class="clear"></div>    
            </div>
			<div class="clear"></div>
      	</div>
      	<div class="clear"></div>
            
                <div id="sidebarright_otherthanbutton">
                    <div id="sidebarright_topicsection_container">
                            <div class="sidebarright_section_headline">
                                Indicated Topics:
                                <div class="sidebarright_list">
                                    <a href=“”><h3>first topic of this question</h3></a>
									<a href=“”><h3>second topic of this question</h3></a>
                                </div>                        
                            </div>	
		                    <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
            	</div>
            
            
            
            
<!--here comes the button that is at top of the sidebar, positioned absolute:-->
                <div id="sidebarright_actionbuttons_container">
                        <div class="button_followquestion"> Follow Question
                        </div>
                </div>
            	
            
            
            </div>
			<div class="clear"></div>
      </div>
      <div class="clear"></div>
                    
        
>>>>>>> Stashed changes
    </div>
