<div id="follow_form">
	<% if current_user.following?(@post, 'Post') %>
	  <%= render 'shared/unfollow' %>
	<% else %>
	  <%= render 'shared/follow' %>
	<% end %>
</div>
<br>

<table class="posts" summary="Status feed">
  <%= render :partial => 'post', :object => @post %>
</table>

<div class = "comments">
  <table class="comments" id = "container">
    <%= render :partial => 'shared/comment', :collection => @c_comment %>
  </table>
</div>
<%= render 'shared/comment_form' %>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="www.nutranation.heroku.com/posts/<%= @post.id %>" data-text="NutraNation: Social network for registered dietitians" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=134934403267879&amp;xfbml=1"></script><fb:like href="nutranation.heroku.com/posts/<%= @post.id %>" send="true" width="450" show_faces="true" action="like" font="arial"></fb:like>
<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/Share" data-url="nutranation.heroku.com/posts/<%= @post.id %>" data-counter="top"></script>
	


