<div id="follow_form">
	<% if current_user.following?(@post, 'Post') %>
	  <%= render 'shared/unfollow' %>
	<% else %>
	  <%= render 'shared/follow' %>
	<% end %>
</div>
<br>

<table class="posts" summary="Status feed">
  <%= render :partial => 'post', :object => @post %>
</table>

<div class = "comments">
  <table class="comments" >
    <%= render :partial => 'shared/comment', :collection => @c_comment %>
  </table>
</div>
<%= render 'shared/comment_form' %>
	


