
<div id="follow_form">
	<% if current_user.following?(@post, 'Post') %>
	  <%= render 'shared/unfollow' %>
	<% else %>
	  <%= render 'shared/follow' %>
	<% end %>
</div>
<br>
<div class =  "show-post">
<table class="posts" summary="Status feed">
	
  <%= render :partial => 'post', :object => @post %>
</table>

<div class = "comments">
  <table class="comments" id = "container">
    <%= render :partial => 'shared/comment', :collection => @c_comment %>
  </table>
</div>
</div>
<div class = "comment-form">
<%= render 'shared/comment_form' %>
</div>

	


