<%= render 'layouts/head' %>
<link href="/stylesheets/pagedesign.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<%= render 'shared/header_small' %>
		<%= yield %>
	<%= render 'shared/footer_small' %>
	<div class = "params" style = "display:none;">
		<%= debug(params)%>
	</div>
	</body>
	<script type="text/javascript" src="/javascripts/nutranation.js"></script>
	<script>$("div.footer_bottom").scrollTop();</script>
	</html>


