<%= render 'layouts/head' %>
<link href="/stylesheets/pagedesign.css" rel="stylesheet" type="text/css" />
<%= javascript_include_tag :ckeditor %>
	<script type="text/javascript">
    $(document).ready(function() {
			$('input#post_title').focusin(function() {
       	$('div.post-input').show();
    	});
		});
		
</script>
</head>
<body>
	<%= render 'shared/header_small' %>
		<%= yield %>
	<%= render 'shared/footer_small' %>
	<div class = "params" style = "display:none;">
		<%= debug(params)%>
	</div>
	</body>
	<script type="text/javascript" src="/javascripts/nutranation.js"></script>
	<script>$("div.footer_bottom").scrollTop();</script>
	</html>


