<%= render 'layouts/head' %>
<link href="/stylesheets/nutranation_site_css.css" rel="stylesheet" type="text/css" />
<%= javascript_include_tag :ckeditor %>
</head>
<body>
	<%= render 'layouts/header' %>
		<%= yield %>
	<%= render 'layouts/footer' %>
	<div class = "params" style = "display:none;">
		<%= debug(params)%>
	</div>
	</body>
	<script type="text/javascript" src="/javascripts/nutranation.js"></script>
	<script>$("div.footer_bottom").scrollTop();</script>
</html>


